html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.overlay{
  position: absolute;
  top: 200;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  <h1 style="border:2px solid hotpink;">Hello World</h1>
}


h1{color: yellow;}
a, a:visited {color: yellow;}



.overlay2{
  position: absolute;
  top: 300;
  padding: 2em;
  font-family: Garamond, fantasy, cursive;
  font-size: 20px;
  <h1 style="border:2px solid rebeccapurple;">Hello World</h1>
}


.overlay3{
  position: absolute;
  top: 400;
  padding: 3em;
  font-family: cursive;
  font-size: 30px;
  <h1 style="border:2px solid olive;">Hello World</h1>
}